.editor-container {
  position: relative;
  padding-top: 1px;
}
.medium-editor-element {
  height: 100vh;
  margin: 1rem;
  border: none;
}
.medium-editor-element:focus {
  outline: none !important;
}
