.close-icon {
  position: fixed;
  right: 5px;
  top: 5px;
  height: 24px;
  width: 24px;
  padding: 8px !important;
  cursor: pointer;
}

.imgupload {
  position: fixed;
  right: 10px;
  top: 6px;
  height: 24px;
  width: 24px;
  cursor: pointer;
}
.showcount {
  position: absolute;
  top: 50%;
  left: 50%;
}
.loader {
  position: absolute !important;
  width: 60%;
  top: 50%;
  left: 25%;
}

.medium-editor-element {
  margin: 0.5rem !important;
}

img {
  margin: auto;
  align-self: center;
  max-width: 100%;
  max-height: 600px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #ff0000;
}

.txt-length {
  position: fixed;
  right: 10px;
  bottom: -6px;
  font-size: 14px;
}
